# terraform_example/.gitignore 파일


# .gitignore
# Local .terraform directories
**/.terraform/*


# .tfstate files
*.tfstate
*.tfstate.*


# Crash log files
crash.log

# 민감한 정보가 들어 있는 파일은 git의 추적 대상에서 제외
terraform.tfvars